/* BottomBar.css */
#bottomBar {
  position: fixed;
  bottom: 2%;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.socialLink {
  margin: 0 15px;
  transition: transform 0.3s;
}

.socialLink img {
  width: 30px;
  height: 30px;
}

.socialLink:hover {
  transform: scale(1.2);
}

